<%= form_for @question, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :id, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :id, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :question, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :question, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :option1, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :option1, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :option2, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :option2, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :option3, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :option3, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :correct, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :correct, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  questions_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
