<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @quiz.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @quiz.id %>
</p>

<p>
  <strong>Quizmaster:</strong>
  <%= @quiz.quizmaster %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
